*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

header {
  height: 80px;
  width: 100vw;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

}

.logo img {
  width: 60px;
  border-radius: 50%;
}

.brand-name{
  font-weight: 700;
  font-size: 2.3rem;
}
.white-text{
  color: white;
}
.green-text{
  color: rgb(72, 168, 50);
}

 html, body {
  height: 100%;
} 


body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f9fc;
  overflow: hidden;
  perspective: 1000px;
}

.container {
  display: flex;
  flex-direction: row;
  width: 90%;
  max-width: 1200px;
  height: 80vh;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  transform: rotateY(2deg) rotateX(1deg);
  animation: float 5s ease-in-out infinite;
  margin: auto;
  position: relative;
  top: 20px;
}


.left-section { 
  flex: 5;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background: rgba(240, 244, 255, 0.8);
  overflow-y: auto;
  overflow-x:hidden;
  align-items: center;
}

.right-section {
  flex: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.9);
  border-left: 2px solid #e0e0e0;
  padding: 20px;
  overflow-y: auto;
  overflow:hidden;
}

.right-section h3 {
  margin-bottom: 20px;
}

.right-section iframe,
.right-section .react-file-viewer {
  width: 100%;
  height: 100%;
  max-height: 60vh; 
  border: none;
}

h1,
h3 {
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #555;
}

button {
  padding: 12px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.right-section p {
  color: #777;
  text-align: center;
  margin-top: 20%;
}

/* Add subtle floating animation */
@keyframes float {
  0% {
    transform: rotateY(2deg) rotateX(1deg) translateY(0);
  }
  50% {
    transform: rotateY(3deg) rotateX(2deg) translateY(-10px);
  }
  100% {
    transform: rotateY(2deg) rotateX(1deg) translateY(0);
  }
}

#pg-viewer .document-container {
  border: 2px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
  overflow-y: auto;
  overflow-x:hidden;
  width:90%;
  border-radius: 5px;
}


#pg-viewer{
  width:100%;
}

@media(max-width:430px){
  .container{
    flex-direction:column;
    height: 100vh;
  }

  .left-section{
    flex:1;
  }

  .right-section{
    flex:4;
  }
}